@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --ring: 0 0% 63.9%;

    --radius: 0.5rem;

    /* Color Pallete */
    --light-blue: #7e88c3;
    --dark-blue: #7c5dfa;
    --blue: #9277ff;
    --dark-01: #1e2139;
    --dark-02: #252945;
    --dark-03: #0c0e16;
    --light-grey: #dfe3fa;
    --dark-grey: #888eb0;
    --red: #ec5757;
    --light-red: #ff9797;
    --white: #f8f8f8;
    --dark: #141625;

    --border: --light-grey;
    --input: --light-grey;
    --green: 51, 214, 159;
    --orange: 255, 143, 0;
  }
}

@layer base {
  * {
    box-sizing: border-box;
  }
  html,
  body,
  #root {
    min-height: 100vh !important;
    width: 100%;
  }
  body {
    font-family: 'League Spartan', sans-serif;
    position: relative;
  }
}

body:has(> .modalOpen) {
  overflow: hidden;
}

.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 103px;

  .logo-container {
    width: 103px !important;
    height: 103px !important;
  }

  @media (max-width: 1440px) {
    position: relative;
    width: 100%;
    height: 80px;
    .logo-container {
      width: 80px !important;
      height: 80px !important;
    }
  }
}

.main-container {
  position: relative;
  left: 103px;

  width: calc(100% - 103px);
  height: 100%;

  @media (max-width: 1440px) {
    width: 100%;
    left: 0;
  }
}

.card-shadow {
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.1);
}

.overlay {
  width: calc(100% - 103px);
  height: 100%;
  position: fixed;
  left: 103px;
  top: 0;

  @media (max-width: 1440px) {
    width: 100%;
    top: 80px;
  }
}

.inner-container {
  width: min(90%, 730px);
  margin-inline: auto;
  padding-top: 87px;

  @media (max-width: 1440px) {
    padding-top: 62px;
  }
  @media (max-width: 768px) {
    padding-top: 36px;
  }
}

.cl-internal-11ewti4 {
  width: 40px !important;
  height: 40px !important;
}

.bg-green-opacity {
  background-color: rgba(var(--green), 0.1);
}
.bg-orange-opacity {
  background-color: rgba(var(--orange), 0.1);
}
.small-ball-before {
  &::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: inherit;
    border-radius: 50%;
    left: 10px;
    top: 15px;
    transform: translateY(-50%);
  }
}
.text-dark::before {
  background-color: var(--dark);
}
.text-green::before {
  background-color: rgb(var(--green));
}
.text-orange::before {
  background-color: rgb(var(--orange));
}
