@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
 
    --ring: 0 0% 63.9%;
 
    --radius: 0.5rem;

    /* Color Pallete */
    --light-blue: #7E88C3;
    --dark-blue: #7C5DFA;
    --blue: #9277FF;
    --dark-01: #1E2139;
    --dark-02: #252945;
    --dark-03: #0C0E16;
    --light-grey: #DFE3FA;
    --dark-grey: #888EB0;
    --red: #EC5757;
    --light-red: #EC5757;
    --white: #F8F8F8;
    --dark: #141625;
  }
}
 
@layer base {
  * {
    box-sizing: border-box;
  }
  html, body, #root {
    height: 100%;
    width: 100%;
  }
  body {
    font-family: 'League Spartan', sans-serif;
    position: relative;
  }
}



.navbar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 103px;
  
  .logo-container {
    width: 103px !important;
    height: 103px !important;
  }
  
  @media(max-width: 1440px) {
    position: relative;
    width: 100%;
    height: 80px;
    .logo-container {
      width: 80px !important;
      height: 80px !important;
    }
  }
}

.main-container {
  position: relative;
  left: 103px;

  width: calc(100% - 103px);
  height: 100%;
  
  
  @media(max-width: 1440px) {
    width: 100%;
    left: 0;
  }
}

.inner-container {
  width: min(90%, 730px);
  margin-inline: auto;
  padding-top: 78px;

  @media(max-width: 1440px) {
    padding-top: 62px;
  }
  @media(max-width: 768px) {
    padding-top: 36px;
  }
  
}

.cl-internal-11ewti4 {
  width: 40px!important;
  height: 40px!important;
}